*{
    margin: 0;
    padding: 0;
    
}
/*conteudo escrito header*/
header{
    height: 450px;
    background: url(../img/fundo_header.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}
.Conteudo-Download{
    width: 50%;
    height:18.75em ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Conteudo-Download h1{
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-size: 3em;
    width: 320px;
    margin-left: 20%;
    color:white;
}
.Conteudo-Download p{
    text-align: center;
    font-family: Open Sans;
    color: white;
}

/*parte de download*/
a{
    text-decoration: none;
}
.download{
    color: black;
    width: 13.12em;
    height: 3.5em;
    border-radius: 4em;/*1em=16px*/
    border: none;
    
}
.download-preto{
    width: 18.75em;
    height: 3.5em;
    border-radius: 4em;
    border: none;
    background-color: #23272A;
    color: #FFFFFF
    ;
}
#botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*fim*/
/*section1*/
section{
    height: 500px;
    width: auto;
}
#conteudo-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.conteudo-1{
    width: 980px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
#textos h1{
    width: 300px;
    font-family: Open Sans;
    font-size: 2.5em;
    line-height: 50px;
    text-align: left;
    margin-left: 10px;
}
#textos p{
    margin-left: 10px;
}

/*section-2*/
#conteudo-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(241, 241, 241);
}
#textos-2{
    width: 22em;
    height: 13.9em;
}
/*section 3*/

#conteudo-3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#conteudo-3 div h1{
    width: 50%;
}
.conteudo-3{
    width: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    place-items: center ;
}
#conteudo-3 div p{
    width: 70%;
    text-align: start;
}

/*section 4*/
#conteudo-4{
    height: 700px;
}
.conteudo-4{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(241, 241, 241);
}
.conteudo-4 h1{
    width: 600px;
    font-family: Luckiest Guy;
    font-size: 3em;
    text-align: center;
}
.conteudo-4 p{
    width: 50em;
    text-align: center;
}
/*footer*/
footer{
    height: 100px;
    background: rgba(35, 39, 42, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    color: white;
}
@media screen and (width: 428px) {
    
    header {
        background-position: center;
        height: 500px;
    }
    .Conteudo-Download{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 90%;
    }
    .Conteudo-Download h1{
        text-align: left;
        margin: 0;
    }
    .Conteudo-Download p{
        text-align: left;
    }
    #botoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .download, .download-preto{
        width: 100%;
    }
}

